<%- include('layouts/header.ejs') %>
<body>
    <div class="navbar">
        <div class="brand">
        </div>
        <div class="menu">
            <a href="/"> Home</a>
            <a href="/quiz" >Take the Quiz</a>
            <a href="/AboutUs"> About Us</a>
        </div>
    </div>
    <h1>Meet the Team!</h1>
    <p><div class="card">
        <div class="card-body">
          <h5 class="card-title">Jonathon Davis</h5>
          <p class="card-text">Contact Information:<br>
            Email: jonathonh.davis@gmail.com
            <br>Github: JonathonDavis
          </p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Trevor Dove</h5>
          <p class="card-text">Contact Information:<br>
            Email: trevor.dove2003@gmail.com
            <br>Github: TDizzleIsAFK</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Liliana Martinez</h5>
          <p class="card-text">Contact Information:<br>
            Email: lilianafinona3@gmail.com
            <br>Github: RedPanda671</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Jane Perez</h5>
          <p class="card-text">Contact Information:<br>
            Email: jbperez9723@gmail.com
            <br>Github: galJane</p>
        </div>
      </div>
    </p>
</body>
</html>